In [241]:
import pandas as pd

path = "附件1.xlsx"

data = pd.read_excel(path)

In [242]:
data = data.groupby("城市")

In [243]:
def leijia(x):
    x["累计确诊"] = x['新增确诊'].cumsum()
    x["累计治愈"] = x['新增治愈'].cumsum()
    x["累计死亡"] = x['新增死亡'].cumsum()
    return x
    pass


data = data.apply(leijia)

In [244]:
data

              日期       城市  新增确诊  新增治愈  新增死亡  累计确诊  累计治愈  累计死亡
0     2020-01-10       武汉    41     2     1    41     2     1
1     2020-01-11       武汉     0     4     0    41     6     1
2     2020-01-12       武汉     0     1     0    41     7     1
3     2020-01-15       武汉     0     5     1    41    12     2
4     2020-01-16       武汉     4     3     0    45    15     2
...          ...      ...   ...   ...   ...   ...   ...   ...
10240 2020-06-30       保定     0     2     0    48    48     0
10241 2020-06-30      大兴区     3     0     0   104     2     0
10242 2020-06-30  辽宁-境外输入     0     1     0    24    22     0
10243 2020-06-30  陕西-境外输入     0     1     0    75    67     0
10244 2020-06-30  四川-境外输入     0     2     0    54    43     0

[10245 rows x 8 columns]

In [245]:
data.to_csv("result/1_1.csv")

In [246]:
data = data.groupby("城市")
data_wuhan = data.get_group("武汉")
data_shenzhen = data.get_group("深圳")
data_baoding = data.get_group("保定")

In [247]:
# def find_date(x):
#     temp=pd.DataFrame()
#     temp=x[x["日期"]=="2020-01-25"]
#     return temp
#     pass
data_wuhan=pd.DataFrame(data_wuhan)
data_wuhan
# data_wuhan.loc(data_wuhan["城市"].str.contains("武汉"))

              日期  城市  新增确诊  新增治愈  新增死亡   累计确诊   累计治愈  累计死亡
0     2020-01-10  武汉    41     2     1     41      2     1
1     2020-01-11  武汉     0     4     0     41      6     1
2     2020-01-12  武汉     0     1     0     41      7     1
3     2020-01-15  武汉     0     5     1     41     12     2
4     2020-01-16  武汉     4     3     0     45     15     2
...          ...  ..   ...   ...   ...    ...    ...   ...
9957  2020-05-24  武汉     0     1     0  50340  46465  3869
9967  2020-05-26  武汉     0     1     0  50340  46466  3869
9984  2020-05-29  武汉     0     1     0  50340  46467  3869
9995  2020-05-31  武汉     0     1     0  50340  46468  3869
10021 2020-06-04  武汉     0     3     0  50340  46471  3869

[114 rows x 8 columns]

In [248]:
data_wuhan=data_wuhan[(data_wuhan["日期"].dt.day==10) or (data_wuhan["日期"].dt.day==15)]
data_wuhan

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().